
@font-face {
  font-family: 'bromello';
  src: url('bromello.eot?#iefix') format('embedded-opentype'),  url('bromello.woff') format('woff'), url('bromello.ttf')  format('truetype'), url('bromello.svg#bromello') format('svg');
  font-weight: normal;
  font-style: normal;
}
