
@font-face {
  font-family: 'CronosPro-CaptIt';
  src: url('CronosPro-CaptIt.eot?#iefix') format('embedded-opentype'),  url('CronosPro-CaptIt.otf')  format('opentype'),
	     url('CronosPro-CaptIt.woff') format('woff'), url('CronosPro-CaptIt.ttf')  format('truetype'), url('CronosPro-CaptIt.svg#CronosPro-CaptIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
