
@font-face {
  font-family: 'CronosPro-Capt';
  src: url('CronosPro-Capt.eot?#iefix') format('embedded-opentype'),  url('CronosPro-Capt.otf')  format('opentype'),
	     url('CronosPro-Capt.woff') format('woff'), url('CronosPro-Capt.ttf')  format('truetype'), url('CronosPro-Capt.svg#CronosPro-Capt') format('svg');
  font-weight: normal;
  font-style: normal;
}
